@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap');
$latoFont: 'Lato', sans-serif;
$montserratFont: 'Montserrat', sans-serif;
$robotoFont: 'Roboto', sans-serif;

$navBackgroundColor: #20232a;
$yellowColor: #ffe600;